body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff1e56, #ffac41, #ff5e78);
    background-size: 200% auto;
    animation: gradientAnimation 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #e63946;
}

button {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.message {
    display: none;
}

.message p {
    color: #444;
    margin-bottom: 10px;
}

